@font-face {
    font-family: Gordita;
    src: url("./fonts/Gordita\ Medium\ Italic.otf") format("opentype");
}

#image-container{
    display:flex;
    justify-content: center;
    align-items: center;   
    height:100vh;
}

#main-image{
    max-height:100vh;
}

#listen-links-sidebar{
    display:flex;
    flex-direction: column;
    height:100%;
    align-items: center;
    justify-content: center;
    width:30vw;
}

body{
    background-color:#17273E;
    font-family: Gordita;
}

.streaming-logo{
    width:20vw;
    height:auto;
    padding:1em;
    border-radius: 1em;
    transition:500ms;
}

.streaming-logo:hover{
    background-color:#6E5454;
}

#streaming-logos{
    background-color:#D2D6C7;
    display:flex;
    flex-direction: column;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    padding:2em;
}

@media only screen and (max-width: 600px) {
    #main-image{
        max-height:65vh;
        margin:1em 0;
    }
    #image-container{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;   
        height:100vh;
    }
    #streaming-logos{
        flex-direction: row;
        border-radius: 1em;
        flex-wrap: wrap;
        width:90vw;
    }

    .streaming-logo{
        width:50vw;
        height:auto;
        padding:1em;
        border-radius: 1em;
        transition:500ms;
    }

    #listenText{
        /* display:none; */
    }
  }